html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    title Portfolio
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css")
    link(rel="stylesheet",href="stylesheets/style.css")
  body

