doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  meta(name='description', content='BlastOff Restaurant Customer Loyalty App. A mobile app solution for customer loyalty programs.')
  meta(name='keywords', content='app,mobile,loyalty,customer,restaurant,loyalty programs,blast off, blastoff')
  title Oluyoung&apos;s Portfolio
  link(href='https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700', rel='stylesheet')
  link(rel='stylesheet', href='stylesheets/style-blastoff.min.css')
// Section Head
section.head
  .container.flex.row-wrap.just-center.align-flex-center
    img.logo(src='img/blast0ff_logo.png', alt='Blast Off Logo')
    h1.inline-block.oswald-light.uppercase restaurant customer loyalty app
// Section 1
section.section1
  .container.flex.row-wrap.just-between.align-flex-center.pos-rel
    img(src='img/IPhoneX_trimmed.png', alt='App Screenshot')
    .text.flex.col-nowrap.justify-content-center.align-flex-left
      h2
        span.oswald-light A MOBILE APP SOLUTION FOR
        span.oswald-regular CUSTOMER LOYALTY PROGRAMS
      a.text-center.inline-block.oswald-light(href='#') View Demo
// Section 2
section.section2
  .container
    h2.text-center.title.oswald-regular A POWERFUL, SIMPLE SOLUTION TO ENGAGE YOUR CLIENTS
    .row.flex.row-wrap.just-center.align-flex-center
      .quadrant.text-center
        img.icon(src='img/VectorSmartObject_bolt.png', alt='FASTER TURNAROUND WITH SIMPLIFIED DEVELOPMENT')
        h3.oswald-regular FASTER TURNAROUND WITH SIMPLIFIED DEVELOPMENT
        p.oswald-light By using a unique code set, your App is ready for all devices and platforms.
      .quadrant.text-center
        img.icon(src='img/VectorSmartObject_calc.png', alt='COST EFFECTIVE PRE-PACKED FEATURES')
        h3.oswald-regular COST EFFECTIVE PRE-PACKED FEATURES
        p.oswald-light The job is already done for a speedy start of your promotions.
    .row.flex.row-wrap.just-center.align-flex-center
      .quadrant.text-center
        img.icon(src='img/VectorSmartObject_gear.png', alt='SAME AS A NATIVE APP WITH WEB APP EFFICIENCY')
        h3.oswald-regular SAME AS A NATIVE APP WITH WEB APP EFFICIENCY
        p.oswald-light We integrate browser and native App components with imperceptible differences.
      .quadrant.text-center
        img.icon(src='img/VectorSmartObject_copy_eye.png', alt='WHITE LABEL BRANDING TO MEET YOUR STANDARDS')
        h3.oswald-regular WHITE LABEL BRANDING TO MEET YOUR STANDARDS
        p.oswald-light Our system allows visual customisation of the App look and feel.
// Section 3
section.section3
  .container
    .wrap
      p.xl
        span.oswald-light A FULLY FUNCTIONAL PWA MOBILE APP IN
        span.oswald-regular 3 WORKING DAYS
      h4.oswald-light
        | Your App will be running on all mobile devices with a launch icon, skipping the hassle of submitting it to Apple and Android Stores.
      a.inline-block.oswald-light(href='#') Get Started Now
// Section 4
section.section4.section1
  .container.flex.row-wrap.just-between.align-flex-center.pos-rel
    img(src='img/IPhoneX2_trimmed.png', alt='App Screenshot')
    .text.flex.col-nowrap.justify-content-center.align-flex-left
      h2
        span.oswald-light KEEP CLIENTS IN THE KNOW
        span.oswald-regular WITH PUSH NOTIFICATION ALERTS
      a.text-center.inline-block.oswald-light(href='#') View Demo
// Section 5
section.section5
  .container
    h2.title.text-center.oswald-regular ESSENTIAL FEATURES TO MEET YOUR CLIENTS NEEDS
    .row.flex.row-wrap.just-start.align-flex-center
      img.icon(src='img/VectorSmartObject_book.png', alt='QR COUPONS MENU AND COUPON DETAIL')
      .text.flex.col-nowrap.just-center.align-flex-start
        h3.md.oswald-regular QR COUPONS MENU AND COUPON DETAIL
        h4.md.oswald-light We provide Google QR technology with statistics integration.
    .row.flex.row-wrap.just-start.align-flex-center
      img.icon(src='img/VectorSmartObject_menu.png', alt='DISPLAY YOUR RESTAURANT MENU')
      .text.flex.col-nowrap.just-center.align-flex-start
        h3.md.oswald-regular DISPLAY YOUR RESTAURANT MENU
        h4.md.oswald-light Your whole menu will be listed in one section.
    .row.flex.row-wrap.just-start.align-flex-center
      img.icon(src='img/VectorSmartObject_pin.png', alt='LOCATION AND HOURS OF YOUR RESTAURANT')
      .text.flex.col-nowrap.just-center.align-flex-start
        h3.md.oswald-regular LOCATION AND HOURS OF YOUR RESTAURANT
        h4.md.oswald-light Google Maps integration and working hours by day for all locations.
    .row.flex.row-wrap.just-start.align-flex-center
      img.icon(src='img/VectorSmartObject_delivery.png', alt='DELIVERY OPTIONS LAUNCHPAD')
      .text.flex.col-nowrap.just-center.align-flex-start
        h3.md.oswald-regular DELIVERY OPTIONS LAUNCHPAD
        h4.md.oswald-light Access to all delivery options from the App.
    .row.flex.row-wrap.just-start.align-flex-center
      img.icon(src='img/VectorSmartObject_gear.png', alt='USER SETTINGS WITH MULTI LANGUAGE OPTION')
      .text.flex.col-nowrap.just-center.align-flex-start
        h3.md.oswald-regular USER SETTINGS WITH MULTI LANGUAGE OPTION
        h4.md.oswald-light Your clients will get the most used language options.
// Section 6
section.section6.section2
  .container
    h2.text-center.title.oswald-regular HOW DO YOU WANT TO GET STARTED?
    .row.flex.row-wrap.just-center.align-flex-center
      .quadrant.text-center
        h3.xl.oswald-regular STARTER APP PLAN
        p.md.oswald-light
          | Up to 6 Coupons.
          br
          |             Up to 3 Locations.
          br
          |             Full Restaurant Menu.
          br
          |             Fast and secure web hosting
          br
          |             No Database Included.
        p.xl.oswald-regular &euro;200
        p SETUP STARTER APP
        p.xl.oswald-regular &euro;50
        p  MONTHLY SERVICE STARTER APP
        p.xxl.order-now.oswald-regular ORDER NOW
        p.terms view terms and conditions
      .quadrant.text-center
        h3.xl.oswald-regular TOTAL APP PLAN
        p.md.oswald-light
          | Unlimited Coupons.
          br
          |             Unlimited Locations.
          br
          |             Full Restaurant Menu.
          br
          |             Administrator Panel.
          br
          |             Database Included.
        p.xl.oswald-regular &euro;400
        p SETUP STARTER APP
        p.xl.oswald-regular &euro;100
        p  MONTHLY SERVICE STARTER APP
        p.xxl.order-now.oswald-regular ORDER NOW
        p.terms view terms and conditions
// Section 7
section.section7.section2
  .container
    h2.text-center.title.oswald-regular GET A QUOTE FOR THE FOLLOWING EXTRAS:
    .row.flex.row-wrap.just-center.align-flex-center
      .quadrant.text-center
        img.icon(src='img/VectorSmartObject_camera.png', alt='FOOD PHOTOGRAPHY SESSIONS')
        h3.oswald-regular FOOD PHOTOGRAPHY SESSIONS
        p.md.oswald-light
          | We provide photographic sessions and after editing of your menu items aligned with your standards and the format required for the App.
      .quadrant.text-center
        img.icon(src='img/VectorSmartObject_crop.png', alt='GET A FULL CUSTOM DESIGN OF THE APP')
        h3.oswald-regular GET A FULL CUSTOM DESIGN OF THE APP
        p.md.oswald-light
          | If your brand standards are to be maintained, we provide a user interface that will match your brand specs.
    .row.flex.row-wrap.just-center.align-flex-center
      .quadrant.text-center
        img.icon(src='img/VectorSmartObject_tv.png', alt='ALL IN ONE, TURN THE APP INTO YOUR WEBSITE')
        h3.oswald-regular ALL IN ONE, TURN THE APP INTO YOUR WEBSITE
        p.md.oswald-light
          | We offer you the possibility of polishing the given mobile interface and turn it into an acceptable website format.
      .quadrant.text-center
        img.icon(src='img/VectorSmartObject_edit.png', alt='ADD A CUSTOM SECTION FOR THE APP')
        h3.oswald-regular ADD A CUSTOM SECTION FOR THE APP
        p.md.oswald-light
          | Maybe our sections structure is leaving something essential out? We can add  what you need to the screens already provided.
// Section 8
section.section8.section3
  .container
    .wrap
      h2.xxl
        span.oswald-light NOT SURE YET? GET A FULLY FUNCTIONAL
        span.oswald-regular CUSTOMISED DEMO IN YOUR PHONE
      p.lg.oswald-light Order your App demo adapted to your brand visuals and contents.
      a.lg.inline-block.oswald-light(href='#') Order your Demo
