extends includes/header.pug

block content
  .container.projects-container
    h1.scrn-rdr-txt Projects Home Page
    .projects-home.flex.row-nowrap.just-start.align-flex-center
      //- Show this if no projects
      //- .background.no-projectsfull-width.full-height.d.pos-rel
      //-   canvas#hero-canvas
      //-   h2.title.pos-abs
      //-     | Sorry no projects yet. Soon come.
      //-     br
      //-     | Send me an email if you would like to work on one.

      .mm.wrap.half-width
        .background.pos-rel.full-width.over-hidden.back-center.back-cover.back-norepeat
          h2.title.full-width.pos-abs.text-center
            a.block(href="https://github.com/oluyoung/march-madness") March Madness
            | WP Theme

