extends includes/header.pug

block content
  .container.projects-container
    h1.scrn-rdr-txt Projects Home Page
    .projects-home.flex.col-nowrap.just-center.align-flex-center
      .background.full-width.full-height.d.pos-rel
        canvas#hero-canvas
        h2.title.pos-abs Sorry no projects yet. Soon come.
