extends includes/header.pug

block content
  .container.works-container
    .works-home.flex.row-wrap.just-start.align-flex-start
      h1.scrn-rdr-txt Works
      .tpc.wrap.half-width
        .background.pos-rel.full-width.over-hidden.back-center.back-cover.back-norepeat
          h2.title.full-width.pos-abs.text-center
            a.block(href="https://thepicturecellar.com") The Picture Cellar
      .tbe.wrap.half-width
        .background.pos-rel.full-width.over-hidden.back-center.back-cover.back-norepeat
          h2.title.full-width.pos-abs.text-center
            a.block(href="https://theblackesper.com") The Black Esper
      .atf.wrap.half-width
        .background.pos-rel.full-width.over-hidden.back-center.back-contain.back-norepeat
          h2.title.full-width.pos-abs.text-center
            a.block(href="https://americasthunderfireworks.com/360tour") America's Thunder Fireworks
      .bmg.wrap.half-width
        .background.pos-rel.full-width.over-hidden.back-center.back-cover.back-norepeat
          h2.title.full-width.pos-abs.text-center
            a.block(href="https://blazamusicgroup.com/category/beats") Blaza Music Group
      .bo.wrap.half-width
        .background.pos-rel.full-width.over-hidden.back-center.back-cover.back-norepeat
          h2.title.full-width.pos-abs.text-center
            a.block(href="blastoff.html") Blast Off
            | (PSD to HTML)
